* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./assets/assets/Desktop.jpg);
  --bg-color: rgba(255, 255, 255, 0);
  --bg-color2: rgba(0, 0, 0, 0.304);
  --bg-color2h: rgba(0, 0, 0, 0.542);
  --bor-color: rgba(255, 255, 255, 0.5);
  --bor-colorh: rgba(255, 255, 255, 1);
  --switch-bg: url(./assets/assets/sun.svg);
  --switch-bgc: rgba(252, 252, 252, 0.904);
}
.escuro {
  --text-color: rgb(145, 212, 251);
  --bg-url: url(./assets/assets/vista-do-barco-na-agua-a-noite.jpg);
  --bg-color: rgba(29, 47, 69, 0.041);
  --bg-color2: rgba(9, 30, 61, 0.46);
  --bg-color2h: rgb(70, 101, 118);
  --bor-color: rgba(0, 0, 0, 0.279);
  --bor-colorh: rgba(1, 25, 51, 0.644);
  --switch-bg: url(./assets/assets/moon-stars.svg);
  --switch-bgc: rgba(70, 101, 118, 0.622);
}
body {
  /*Outra opção de código seria: background: [color-caso tenha] url(onde a imagem está) no-repeat top center/cover */
  /*background-image: url(./assets/assets/Mobile.jpg); Busca a imagem para o plano de fundo*/
  background-image: var(--bg-url);
  background-repeat: no-repeat; /*Faz com que não se repita*/
  background-position: top center; /*mantem ela no centro da tela. Nos limites do eixo y e no meio do eixo x*/
  background-size: cover; /*Cobre a tela com a imagem*/
}
body * {
  font-family: "Merriweather", serif;
  color: var(--text-color);
}
#Tela {
  width: 360px;
  margin: 56px auto 0px;
  background-color: var(--bg-color);
  backdrop-filter: blur(5px);
  border: 4px solid var(--bor-color);
  border-radius: 10px;
}
#perfil {
  text-align: center;
  padding: 24px;
  transition: all 0.3s;
}
#perfil img {
  width: 112px;
}
#perfil p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
#switch {
  position: relative;
  width: 64px;
  height: 24px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: var(--switch-bgc) var(--switch-bg) no-repeat center;
  border: 2px solid var(--bor-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  transition: all 0.3s;
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--bg-color2);
  border: 1px solid var(--bor-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}
.escuro #switch button {
  left: initial;
  right: 0;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--bg-color2);
  border: 1px solid var(--bor-color);
  border-radius: 10px;
  backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}
ul li a:hover {
  background-color: var(--bg-color2h);
  border: 1px solid var(--bor-colorh);

  border-radius: 15px;
  backdrop-filter: blur(15px);
}
#social {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  font-size: 24px;
}
#social a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  transition: 0.1s;
}
#social a:hover {
  background-color: var(--bg-color2h);
  backdrop-filter: blur(30px);
}
footer {
  text-align: center;
  padding: 0px 0px 24px;
  font-size: 14px;
}
